name: Build

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - '**/.gitignore'
      - '**/LICENSE'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - '**/.gitignore'
      - '**/LICENSE'

env:
  BUILD_NUMBER: ${{ github.run_number }}
  PROJECT_PATH: "QueotaCustomSounds/QueotaCustomSounds.csproj"
  PROJECT_NAME: "QueotaCustomSounds"
  OUTPUT_PATH: "./QueotaCustomSounds"
  TARGET_PLATFORM: "linux"  # Set to "linux" or "windows" based on your target platform

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet publish ${{ env.PROJECT_PATH }} -c Release -o ${{ env.OUTPUT_PATH }}

  publish:
    if: github.event_name == 'push'
    permissions: write-all
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet publish ${{ env.PROJECT_PATH }} -c Release -o ${{ env.OUTPUT_PATH }}
    - name: Clean files
      run: |
        # Remove source code files
        find ${{ env.OUTPUT_PATH }} -name "*.cs" -type f -delete
        find ${{ env.OUTPUT_PATH }} -name "*.csproj" -type f -delete
        find ${{ env.OUTPUT_PATH }} -name "*.sln" -type f -delete
        # Remove build artifacts and directories
        rm -rf ${{ env.OUTPUT_PATH }}/obj
        rm -rf ${{ env.OUTPUT_PATH }}/bin
        rm -rf ${{ env.OUTPUT_PATH }}/runtimes
        # Remove unnecessary dependency DLLs (CounterStrikeSharp provides these)
        rm -f ${{ env.OUTPUT_PATH }}/CounterStrikeSharp.API.dll
        rm -f ${{ env.OUTPUT_PATH }}/McMaster.NETCore.Plugins.dll
        rm -f ${{ env.OUTPUT_PATH }}/Microsoft.DotNet.PlatformAbstractions.dll
        rm -f ${{ env.OUTPUT_PATH }}/Microsoft.Extensions.DependencyModel.dll
        # Remove all Microsoft.Extensions.* DLLs (CounterStrikeSharp provides these)
        rm -f ${{ env.OUTPUT_PATH }}/Microsoft.Extensions.*.dll
        # Remove any other unnecessary .deps.json, .pdb, or .runtimeconfig.json files
        find ${{ env.OUTPUT_PATH }} -name "*.deps.json" -type f -delete
        find ${{ env.OUTPUT_PATH }} -name "*.pdb" -type f -delete
        find ${{ env.OUTPUT_PATH }} -name "*.runtimeconfig.json" -type f -delete
    - name: Zip
      run: zip -r "${{ env.PROJECT_NAME }}.zip" "${{ env.OUTPUT_PATH }}"
    - name: QueotaCustomSounds
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "${{ env.PROJECT_NAME }}.zip"
        name: "Build ${{ env.BUILD_NUMBER }}"
        tag: "build-${{ env.BUILD_NUMBER }}"
        body: |
          Place the plugin in addons/counterstrikesharp/plugins
